<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main">
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        {{#each orders}}
            <ul class="list-group">
                {{#each this.items}}
                    <li class="list-group-item border">{{ this.item.title }} ({{ this.qty }}) - {{ this.price }}$</li>
                {{/each}}
                <li class="list-group-item list-group-item-success">Total price: ${{ this.cart.totalPrice }}</li>
            </ul>
        {{/each}}
    </div>
</div>