<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-md-offset-4 main main-title">
    <h1>Sign In</h1>
    {{#if hasErrors}}
      <div class="alert alert-danger">
        {{#each messages}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
    <form action="/user/signin" method="post">
      <div class="checkout">
        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email" class="form-control" />
      </div>
      <div class="checkout">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
        />
      </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <button
        type="submit"
        class="btn btn-raised btn-info main button-submit"
      >Sign In</button>
    </form>
    <p>Don`t have an account? <a href="/user/signup">Sign up instead!</a></p>
  </div>
</div>