<div class="row checkout">
    <div class="col-md-3"></div>
    <div class="col-md-6 main">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}invisible{{/if}}">
            {{errMsg}}
        </div>
        <form action="/checkout" method="post" id="checkout-form">
            <div class="main-title">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="checkout">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>
            <div class="checkout">
                <label for="card-holder">Card Holder Name</label>
                <input type="text" class="form-control" id="card-holder" maxlength="50" required>
            </div>
            <div class="checkout">
                <label for="card-number">Credit Card Number</label>
                <input type="text" class="form-control" id="card-number"  maxlength="16" required>
            </div>
            <div class="row checkout">
                <div class="col-md-6">
                    <label for="card-expiry-month">Expiration Month</label>
                    <input type="text" class="form-control" id="card-expiry-month" maxlength="1" required>
                </div>
                <div class="col-md-6">
                    <label for="card-expiry-year">Expiration Year</label>
                    <input type="text" class="form-control" id="card-expiry-year" maxlength="2" required>
                </div>
            </div>
            <div class="checkout">
                <label for="card-cvc">CVC/CVV</label>
                <input type="password" class="form-control" id="card-cvc" maxlength="4" required>
            </div>
            <button class="btn btn-raised btn-success main button-submit" type="submit">Buy</button>
        </form>
    </div>
</div>

<script src="https://js.stripe.com/v2/"></script>
<script src="/javascripts/checkout.js"></script>
