<div class="row">
    <div class="col-md-4 main">
        <div class="card thumbnail" style="width: 20rem;">
            <img class="card-img-top shop-image  img-fluid" src="https://store.playstation.com/store/api/chihiro/00_09_000/container/MY/en/999/UP0006-CUSA01975_00-ASIAPLACEHOLDER2/1506868506000/image?_version=00_09_000&platform=chihiro&w=225&h=225&bg_color=000000&opacity=100" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text description">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. 
                </p>
                <div>
                    <div class="price">12$</div>
                    <a href="#" class="btn btn-primary pull-right">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
